ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a.menu {
	color: white;
}

li {
	display: inline;
	margin: 40px;
	font-size: 15px;
	font-family: "Verdana", Times, serif;
	position: relative;
	top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}

div, p, button, input {
	position: relative;
	top: 45px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #4c5c7e;
	border-bottom: solid 2px #da8661;
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: fixed;
	z-index: 100;
}

#home {
	background: #637496;
}

#logo {
	font-size: 25px;
	font-style: italic;
	font-family: "Verdana", Times, serif;
	display: inline;
	position: fixed;
	left: 20px;
	top: -15px;
}

#user {
	position: relative;
	top: 20px;
	bottom: 10px;
}