.error-grid-container {
	display: grid;
	grid-template-areas:
		'Michael Jack Jonothan Dylan Jake';
	grid-gap: 10px;
	padding: 10px;
	padding-left: 125px;
	padding-right: 125px;
	/*background-color: #BF5700;*/
	background-image: url(images/header_panorama.jpg);
	background-position: center;
	text-color: White;
	/* font-size: 20px; */
}

#img1 {grid-area: Michael;}
#img2 {grid-area: Jack;}
#img3 {grid-area: Jonothan;}
#img4 {grid-area: Dylan;}
#img5 {grid-area: Jake;}

#menu0 {grid-area: logo}
#menu1 {grid-area: professors;}
#menu2 {grid-area: courses;}
#menu3 {grid-area: classes;}
