html, body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Times;
	//font-size: 105%;
	text-align: center;
}

a {
	text-decoration: none;
	color: White;
	display: block;
}

td {
	border: 1px solid black;
}

header {
	border-bottom: solid;
	position: fixed;
	top: 0px;
	width: 100%;
	height: auto;
	z-index: 100;
}

body {
	background-color: #ffffff;
	padding-top: 125px;
}

img {
	margin-top: 13pt;
	margin-right: 20pt;
}

p {
	font-family: Geneva, sans-serif!important;
}

select {
	font-size: 20px;
	background-color: grey;
}

.main_title {
	color: White;
	font-family: Geneva, sans-serif;
	text-shadow: 2px 2px #000000;
}

.main {
	font-family: Geneva;
	margin-left: 200px;
}

.button {
	font-family: Geneva, sans-serif!important;
	font-size: 22px;
	text-decoration: bold;
	font-size: 30px;
	margin-top: 50px;
	background-color: #686564;
}

.post_title {
	font-size: 24px;
	font-family: Geneva, sans-serif!important;
	color: Black;
}

.grid-container {
	display: grid;
	grid-template-areas:
		'logo professors courses classes';
	grid-gap: 10px;
	padding: 10px;
	padding-left: 125px;
	padding-right: 125px;
	/*background-color: #BF5700;*/
	background-image: url(images/header_panorama.jpg);
	background-position: center;
	text-color: White;
}

.curr {
	border: 5px solid #686564;
	background-color: #bf5700;
	font-style: bold;
	/* 7B7E82 */
}

.curr a {
	font-weight: bold;
}

.sidenav {
    height: 100%;
    width: 200px;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
		margin-top:83px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
		/*  818181*/
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.grid-container div:hover {
		background-color: #e86800;
}

.footer {
	border-top: solid;
	border-width: 1px;
	font-size: 12px;
	margin-top: 200px;
}

.footerBlock {
		display: inline-block;
}

#menu0 {grid-area: logo}
#menu1 {grid-area: professors;}
#menu2 {grid-area: courses;}
#menu3 {grid-area: classes;}

#calendar {
	font-family:Tahoma;
	color: blue;
}

#title_tab {
	background-color: #ecf4ec;
	padding-top: 2pt;
	padding-bottom: 3pt;
	text-align="center";
	display: flex;
	justify-content: center;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 110px;
}
