<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


    <!-- General description of your web application -->

    <display-name>ofCourse</display-name>
    <description>
      This is an intuitive web application to help students at UT find and schedule 
      their upcoming semester schedule 
    </description>


    <servlet>
      <servlet-name>courses</servlet-name>
      <servlet-class>ofCourse.CourseServlet</servlet-class>
      <load-on-startup>5</load-on-startup>
    </servlet>


    <servlet-mapping>
      <servlet-name>courses</servlet-name>
      <url-pattern>/courses</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
