<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>ofCourse.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>course</servlet-name>
    <servlet-class>ofCourse.courseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>course</servlet-name>
    <url-pattern>/courses</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>professor</servlet-name>
  	<servlet-class>ofCourse.professorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>professor</servlet-name>
  	<url-pattern>/professors</url-pattern>
  </servlet-mapping>
</web-app>
